<li class="jsxc-roster-item jsxc-bar" draggable="true">
   {{!-- <div class="jsxc-avatar jsxc-shrink--no"></div> --}}
   <img class="jsxc-avatar-img jsxc-shrink--no" src="../images/user-black.png">

   <div class="jsxc-bar__caption jsxc-grow">
      <div class="jsxc-bar__left">
         <div title="{{jid}}" class="jsxc-bar__caption__primary">{{name}}</div>
         <div title="{{lastMessage}}" class="jsxc-bar__caption__secondary">{{lastMessage}}</div>
      </div>
      <div class="jsxc-bar__right">
         <div title="{{date}}" class="jsxc-bar__date">{{date}}</div>
         <div class="jsxc-bar__unread">
            <div title="10" class="jsxc-bar__count">10</div>
         </div>
      </div>
   </div>

   {{!-- {{#> menu classes="jsxc-bar__action-entry jsxc-menu--vertical-left jsxc-menu--light" button-classes="jsxc-icon jsxc-icon--more-dark jsxc-icon--clickable"}}
        <li class="jsxc-rename" title="{{t "rename_buddy"}}"><span class="jsxc-icon jsxc-icon--edit"></span></li>
        <li class="jsxc-vcard" title="{{t "get_info"}}"><span class="jsxc-icon jsxc-icon--info"></span></li>
        <li class="jsxc-delete" title="{{t "delete_buddy"}}"><span class="jsxc-icon jsxc-icon--delete"></span></li>
   {{/menu}} --}}
</li>